body{
    background-color: rgb(122, 220, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid{
    width: 1800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header header"
    "aside1 main main main aside2"
    "footer footer footer footer footer";
}

@media screen and (max-width:800px) {
    .grid{
        width: 800px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "header"
        "main"
        "aside1"
        "aside2"
        "footer";
    }
    
}

.header{
    grid-area: header;
}

.aside1{
    grid-area: aside1;
    margin-top: 180px;
}

.main{
    grid-area: main;
}

.aside2{
    grid-area: aside2;
    margin-top: 180px;
}

.footer{
    grid-area: footer;
}

h1{
    text-align: center;
}

nav{
    width: 900px;
    background-color: lightblue;
    padding: 10px;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-left: 450px;
    border-radius: 20px;
    padding-right: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav div{
    background-color: skyblue;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

nav div:hover{
    animation: mozgas3 1s ease forwards;
}

nav a{
    text-decoration: none;
}

#M{
    background-color: white;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 5px 10px black;
    padding: 5px;
    margin-top: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#M h2{
    text-align: center;
}

#M:hover{
    animation: mozgas 0.5s ease forwards;
}

@media screen and (max-width: 800px){
    .grid{
    display: grid;
    width: 800px;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "aside1"
        "main"
        "aside2"
        "footer";
    }
}

@keyframes mozgas{
    0%{transform: translateY(0);}
    100%{transform: translateY(-10px);}
}
@keyframes mozgas3{
    0%{transform: translateY(0);}
    100%{transform: translateY(-5px);}
}